.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 35px;
}

.figure {
    width: 300px;
    height: 180px;
}

.fig {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 15px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 80px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.mid .left {
    display: flex;        /* REQUIRED */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}


@media only screen and (max-width: 600px) {

    .row,
    .navbar {
        flex-direction: column;
    }

    .mid {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 80px;
    }

    .mid .right {
        margin-top: 30px;
    }

    .figure {
        width: 200px;
        height: 200px;
    }

    .fig {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        gap: 15px;
    }

}